{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% comment %}
  Tahrirlash oynasi tepasida: bu bo'lim saytning qayerida ko'rinadi.
  Yo'lda ilova nomi emas, saytning sahifasi ko'rsatiladi.
{% endcomment %}

{% block breadcrumbs %}
  {% if mars_page_name %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
      &rsaquo; {{ mars_page_name }}
      &rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
      &rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </div>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block content %}
  {% include "admin/mars_section_help.html" %}
  {{ block.super }}
{% endblock %}
